/* CSS HEADER */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 145px;
  background: white;
  height: 80px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
header .siteNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
header .siteNavigation .siteNavigation__logo img {
  width: 215px;
  height: 15px;
}
header .siteNavigation .siteNavigation__menu {
  display: flex;
  align-items: center;
}
header .siteNavigation .siteNavigation__menu .navMenu {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
header .siteNavigation .siteNavigation__menu .navMenu li {
  font-family: space_monoregular;
  font-size: 16px;
  text-transform: uppercase;
}
header .siteNavigation .siteNavigation__menu .navMenu li a {
  color: black;
  text-decoration: none;
}
header .siteNavigation .siteNavigation__menu .navMenu li a:hover {
  font-weight: 700;
}

/* CSS FOOTER */
.footerMenu {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  padding-top: 1%;
  gap: 2%;
}
.footerMenu li {
  font-family: space_monoregular;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}
.footerMenu li a {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"), url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monobold";
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monobold_italic";
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monoitalic";
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monoregular";
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*# sourceMappingURL=style.css.map */
