@charset "UTF-8";
/* CSS HEADER */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 145px;
  background: white;
  height: 80px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
header .siteNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
header .siteNavigation .siteNavigation__logo img {
  width: 215px;
  height: 15px;
}
header .siteNavigation .siteNavigation__menu {
  display: flex;
  align-items: center;
}
header .siteNavigation .siteNavigation__menu .navMenu {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
header .siteNavigation .siteNavigation__menu .navMenu li {
  font-family: space_monoregular;
  font-size: 16px;
  text-transform: uppercase;
}
header .siteNavigation .siteNavigation__menu .navMenu li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
header .siteNavigation .siteNavigation__menu .navMenu li a:hover {
  font-weight: 700;
}

/* CSS FOOTER */
.footerMenu {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  padding-top: 1%;
  gap: 2%;
}
.footerMenu li {
  font-family: space_monoregular;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}
.footerMenu li a {
  color: black;
  text-decoration: none;
}

.popup__overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
}
.popup__overlay .popup__contact {
  position: relative;
  background: white;
  max-width: 600px;
  width: 80%;
  padding: 15px 0;
  border: 5px solid #000000;
}
.popup__overlay .popup__contact .popup-title__container .popup__close {
  position: absolute;
  height: 110px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}
.popup__overlay .popup__contact .popup-title__container img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.popup__overlay .popup__contact .popup__informations {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 265px;
  margin: auto;
}
.popup__overlay .popup__contact .wpcf7-form {
  display: flex;
  flex-direction: column;
}
.popup__overlay .popup__contact .wpcf7-form p {
  margin: 5px;
  padding-top: 0px;
  width: 100%;
}
.popup__overlay .popup__contact .wpcf7-form p label {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.popup__overlay .popup__contact .wpcf7-form p input {
  height: 40px;
}
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-text,
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-email,
.popup__overlay .popup__contact .wpcf7-form p textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 5px;
}
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-text:focus,
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-email:focus,
.popup__overlay .popup__contact .wpcf7-form p textarea:focus {
  border: 3px solid #000000;
  background-color: rgba(175, 174, 174, 0.151);
}

.wpcf7-form p .wpcf7-submit {
  cursor: pointer;
  border: white;
  background: transparent;
  border-left: 4px solid #000000;
  height: 45px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}
.wpcf7-form p .wpcf7-submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: background-color 0.6s ease-in, color 0.6s ease-in;
}
.wpcf7-form p .wpcf7-not-valid-tip {
  font-size: 12px;
  padding-top: 7px;
}
.wpcf7-form form.invalid .wpcf7-response-output, .wpcf7-form form.unaccepted .wpcf7-response-output, .wpcf7-form form.payment-required .wpcf7-response-output {
  text-align: center;
  font-size: 13px;
  margin-top: 0px;
}

.wpcf7-response-output {
  width: 160%;
  transform: translate(-20%, 0%);
  color: red;
  text-align: center;
  border-color: red !important;
  margin-top: 0 !important;
}

/* SCSS pour single-photo.php */
.photos__gallery {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.photo__detail {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.photo__detail .photo__container {
  object-fit: cover;
  width: 50%;
  height: 100%;
  position: relative;
}

.singlePhotoOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}
.photo__container:hover .singlePhotoOverlay {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}
.photo__container:hover .singlePhotoOverlay .icon__fullscreen {
  display: block;
}

.singlePhotoOverlay .icon__fullscreen {
  display: none;
  position: absolute;
  left: 92%;
  top: 2%;
  width: 34px;
  height: 34px;
}

.photo__container:hover .icon__fullscreen {
  display: block;
}

.photo__detail img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.photos__catalog {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  max-width: 80%;
  margin: auto;
}

.photo__info {
  width: 48%;
  text-align: left;
  border-bottom: solid black 1px;
  padding-bottom: 30px;
}
.photo__info h2 {
  margin: 20px 0;
  width: 420px;
}
.photo__info p {
  font-family: space_monoregular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.photo__taxo {
  display: flex;
  flex-direction: column;
}

.contact__container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 115px;
  align-items: center;
  border-bottom: solid black 1px;
}

.contact__container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: PoppinsRegular;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.contact__container .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

#contact__button {
  cursor: pointer;
  border: white;
  background: transparent;
  border-left: 4px solid #000000;
  width: 272px;
  height: 50px;
  font-family: "space_monoregular";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 23px;
}
#contact__button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.6s ease-in, color 0.6s ease-in;
}

/* Styles pour l'affichage des vignettes au survol des flèches */
.navPhotos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 118px;
}

.navArrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 81px;
  margin-bottom: 10px;
  height: 118px;
  right: 81px;
}
.navArrow .arrow {
  width: 25px;
  height: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
  transition: opacity 0.5s ease, cursor 0.5s ease; /* Ajout de la transition */
  cursor: pointer;
  margin: 0 5px; /* Ajout d'une marge de 5px de chaque côté */
}
.navArrow .arrow:hover + .minaturePhoto, .navArrow .arrow:hover + .minaturePhoto-left, .navArrow .arrow:hover + .minaturePhoto-right, .navArrow .arrow:focus + .minaturePhoto, .navArrow .arrow:focus + .minaturePhoto-left, .navArrow .arrow:focus + .minaturePhoto-right {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease; /* Ajout de la transition */
}

.minaturePhoto-content,
.minaturePhoto,
.minaturePhoto-left,
.minaturePhoto-right {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 71px;
  width: 81px;
  transition: visibility 0.5s ease, opacity 0.5s ease;
}
.minaturePhoto-content a,
.minaturePhoto a,
.minaturePhoto-left a,
.minaturePhoto-right a {
  display: block;
  width: 100%;
  height: 100%;
}
.minaturePhoto-content a img,
.minaturePhoto a img,
.minaturePhoto-left a img,
.minaturePhoto-right a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.minaturePhoto-content:hover, .minaturePhoto-content:focus,
.minaturePhoto:hover,
.minaturePhoto:focus,
.minaturePhoto-left:hover,
.minaturePhoto-left:focus,
.minaturePhoto-right:hover,
.minaturePhoto-right:focus {
  visibility: visible;
  opacity: 1;
}

.arrowContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 13px;
}

.interested {
  font-family: space_monoregular;
  font-size: 14px;
}

.photoNotFound {
  font-family: PoppinsRegular;
  font-size: 20px;
  text-align: center;
}

.title__suggestion {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.title__suggestion h3 {
  font-family: space_monoregular;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  margin-top: 6%;
}

.photo__similar {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/** STYLE SCSS PARTIE PHOTOS SIMILAIRES **/
/* Styles pour chaque bloc de photo relative */
.blockPhotoRelative {
  flex-shrink: 0;
  position: relative;
  width: 564px;
  height: 495px;
  margin-bottom: 50px;
  /* Ajustements responsives */
  /* Styles pour l'overlay et les icônes au survol */
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .blockPhotoRelative {
    width: 370px;
  }
}
@media screen and (max-width: 765px) {
  .blockPhotoRelative {
    width: 318px;
    height: 279px;
  }
}
.blockPhotoRelative img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blockPhotoRelative .overlay:hover .eye-icon,
.blockPhotoRelative .overlay:hover .icon-fullscreen {
  display: block;
}

/* Styles pour l'overlay au survol de l'image */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s, background-color 0.3s;
  /* Ajustements responsives au survol */
  /* Styles pour les titres dans l'overlay */
  /* Styles pour l'icône de l'œil au survol */
  /* Styles pour l'icône de plein écran au survol */
}
.overlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
  /* Affichage des titres au survol */
}
.overlay:hover h2,
.overlay:hover h3 {
  display: block;
  font-family: PoppinsRegular;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  position: absolute;
  color: white;
}
.overlay h2 {
  left: 15px;
  top: 435px;
  display: none;
  /* Ajustements responsives */
}
@media screen and (max-width: 765px) {
  .overlay h2 {
    top: 227px;
    font-size: 12px;
  }
}
.overlay h3 {
  left: 490px;
  top: 450px;
  display: none;
  /* Ajustements responsives */
}
@media screen and (max-width: 765px) {
  .overlay h3 {
    left: 240px;
    top: 237px;
    font-size: 12px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay h3 {
    left: 289px;
  }
}
.overlay .eye-icon {
  width: 48px;
  height: 33.2px;
  top: 231.4px;
  left: 255px;
  position: absolute;
  display: none;
  /* Ajustements responsives */
}
@media screen and (max-width: 765px) {
  .overlay .eye-icon {
    top: 135px;
    left: 140px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .eye-icon {
    left: 175px;
  }
}
.overlay .icon-fullscreen {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: 34px;
  height: 34px;
  top: 11px;
  left: 512px;
  border: 1px;
  display: none;
  /* Ajustements responsives */
}
@media screen and (max-width: 765px) {
  .overlay .icon-fullscreen {
    top: 17px;
    left: 267px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .icon-fullscreen {
    left: 317px;
  }
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"), url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monobold";
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monobold_italic";
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monoitalic";
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space_monoregular";
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* STYLES GENERAUX */
body {
  max-width: 1440px;
  font-family: "space_monoregular";
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: auto;
}
body ul {
  list-style-type: none;
}
body a {
  color: black;
  text-decoration: none;
  font-family: space_monoregular;
  text-transform: uppercase;
}

h2 {
  font-family: space_monoregular;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 58px;
}
@media (max-width: 1140px) {
  h2 {
    font-size: 40px;
    width: 415px;
  }
}

/*# sourceMappingURL=style.css.map */
